



body {
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.covered {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Cellcover-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
}

.flagged {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Flag-image.jpg');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
}

.questioned {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Question-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
}

.mined {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Mine-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
    background-color: #c5e8e5;;
}

.exploded {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Mine-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
    background-color: red;
}

.value-0 {
    height: 40px;
    width: 40px;
    color: rgba(0,0,0,0);
    text-align: center;
    background-color: #c5e8e5;;
}

.value-1 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: blue;
    background-color: #c5e8e5;
}

.value-2 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: green;
    background-color: #c5e8e5;;
}

.value-3 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: red;
    background-color: #c5e8e5;;
}

.value-4 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: purple;
    background-color: #c5e8e5;;
}

.value-5 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: maroon;
    background-color: #c5e8e5;;
}

.value-6 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: turquoise;
    background-color: #c5e8e5;;
}

.value-7 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: black;
    background-color: #c5e8e5;;
}

.value-8 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: gray;
    background-color: #c5e8e5;;
}

#reload-button {
    background-color: lightgreen;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }